/** HEADER */
.header_main {
    width: 100%;
    background: var(--blue);
    margin-bottom: 20px;
}

.header_main .header_main_content {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
}

.header_main_content_menu { 
    flex-basis: calc(100% - 330px); 
}

.header_main .header_main_content .header_main_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-start;
}

.header_main_content_menu ul {
    display: flex;
    align-items: stretch;
}

.header_main_content_menu ul li {
    display: flex;
    align-items: center;
}

.header_main_content_menu ul li a {
    padding: 30px 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #FFF;
}

.header_main_content_menu ul li a:hover {
    background-color: #FFF;
    color: #000;
}

/** MENU MOBILE */
.header_main .header_main_content .header_main_content_menu_mobile{
    flex-basis: calc(100% - 330px);
    justify-content: flex-start;
    display: none;
}

.header_main_content_menu_mobile ul{
    display: flex;
    align-content: center;
    margin-right: 20px;
}

.header_main_content_menu_mobile ul li{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.main_header_content_menu_mobile_obj{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 2em;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.main_header_content_menu_mobile_obj:hover, .main_header_content_menu_mobile_obj_active{
    cursor: pointer;
    background-color: #000;
}

.main_header_content_menu_mobile_sub{
    min-width: 200px;
    background: #000;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}

.main_header_content_menu_mobile_sub li {
    flex-basis: 100%;
}

.main_header_content_menu_mobile_sub li a{
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
}

.main_header_content_menu_mobile_sub li a:hover{
    background: #fff;
    color: #000;
}


/*======= LISTA DE CURSOS ========*/
.main_content {
    max-width: calc(100% - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_content > header {
    flex-basis: 100%;
    text-align: center;
}

.main_content > header > h2 {
    font-size: 2.0em;
    margin-bottom: 50px;
    font-weight: bold;
    color: var(--blue);
}

.main_content_products {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
}

.main_content_products header a h4 {
    color: var(--blue);
    font-weight: 700;
    margin: 10px 0;
    font-size: 1.4em;
}

.main_content_products header a p, 
.main_content_products a p{
    color: var(--blue);
    margin: 10px 0;
    font-size: 1.2em;
}

.main_content_products header:hover a ,
.main_content_products header a:hover,
.main_content_products:hover a p{
    text-decoration: underline;
    color: var(--blue);
}

.main_content_products > header > a > img {
    width: 100%;
    opacity: 0.9;
}

.main_content_products > header img:hover{
    opacity: 1.0;
}

/*=========== OPTIN ===========*/
.main_optin {
    width: 100%;
    background: var(--blue);
    margin: 30px 0;
}

.main_optin_content {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.main_optin_content header, .main_optin_content form { flex-basis: 50%; }

.main_optin_content header h2 {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.main_optin_content header h2, .main_optin_content p {
    color: #FFF;
    margin-right: 40px;
    text-align: right;
}

.main_optin_content > form {
    display: flex;
    justify-content: space-between;
}

.main_optin_content > form > input[type=text], .main_optin_content > form > input[type=email] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 10px;
    border: none;
}

.btn {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #28a745;
    color: #FFF;
    padding: 0 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: var(--green_l);
}

/*======= DOBRA DA ESCOLA =======*/
.main_school {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.main_content_school {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
    flex-wrap: wrap;
    /*display: flex;
    justify-content: space-between;*/
}

.main_content_school > header{
    padding: 40px 0px;
    text-align: center;
}

.main_content_school > header > h2 , 
.main_content_school .main_content_school_header h4,
.main_content_school_awards > header > h4{
    font-size: 2.2em;
    color: var(--blue) !important;
    font-weight: bold;
}

.main_content_school_description { margin: 30px 0px; }

.main_content_school .main_content_school_about{
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.main_content_school_about article{
    flex-basis: calc(50% - 40px);
    margin: 20px 20px;
    background-color: #EBEBEB;
    padding: 20px;
}


.main_content_school_about article header h2{
    font-size: 1.2em;
    color: var(--blue);
    font-weight: bold;
}

.main_content_school_about article header p{
    font-size: 1em;
    margin-top: 10px;
}

.main_content_school_description > header{ 
    margin-top: -30px; 
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    background: var(--blue);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 0px;
}

.main_content_school_description header h4,
.main_content_school_description header h4 a{ 
    font-size: 1.1em;  
    color: #FFF;
}

.main_content_school_description header h4 a:hover{
    text-decoration: underline;
}

.main_content_school_description > p{
    color: #333;
    font-size: 1.2em;
    margin-top: 30px;
}

.main_content_school_awards { margin: 50px 0px; }

.main_content_school_awards > header { text-align: center;}

.main_content_school_awards > header > h4 {
    font-size: 2.2em;
    color: #333;
}

.main_content_school_awards {
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 0px;
}

.box_awards{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.main_content_school .main_content_school_header{
    flex-basis: 100%;
    margin: 0 auto;
    text-align: center;
}

.box_awards  article,
.main_content_school .main_content_school_skils article{
    flex-basis: 50%;
    margin: 10px 0px;
}

.main_content_school_address {
    flex-basis: 100%;
    text-align: center;
    margin: 30px 0px;
}

.main_content_school_address > header > h4 { 
    font-size: 2em; 
    color: var(--blue);
    font-weight: bold;
}

.main_content_school_address > p > a{ 
    font-size:  1.8em; 
    color: var(--blue) !important;
}

.main_content_school_address > p > a:hover{
    text-decoration: underline;
}

/*======= TUTOR ======*/
.main_tutor {
    width: 100%;
    background-color: var(--blue);
}

.main_content_school_tutor {
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
}

.main_content_school_tutor > header > h4{
    font-size: 2em;
    margin-bottom: 10px;
}

.main_content_school_tutor_description > header > h5 {
    font-size: 1.3em;
    margin-bottom: 30px;
}

.main_content_school_tutor_description > p {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 1.2em;
}

.main_tutor_content_img { margin: 20px auto; }

.main_tutor_content_img  img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 3px;
    max-width: 350px; 
    background-color: #000;
}

.main_content_school_tutor_network {
    max-width: 800px;
    margin: 0 auto;
    background: #FFF;
    color: var(--blue);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_content_school_tutor_network > header { 
    flex-basis: 100%;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.main_content_school_tutor_network > header > h5 { font-weight: 700; }

.tutor_social_network { 
    background: var(--blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px 20px;
}

.tutor_social_network > h6, .tutor_social_network > h6 > a { color: #FFF; }

.tutor_social_network h6 a:hover{
    text-decoration: underline;
}

/*===== CTA =====*/
.footer_cta {
    width: 100%;
    background: #F7F7F7;
}

.footer_cta_header{
    max-width: 1300px;
    padding: 40px 20px;
    text-align: center;
    color: var(--blue);
    margin: 0 auto;
}

.footer_cta_header header h2{
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_cta_header a{
    font-size: 1.4em;
}

.footer_cta_header a:hover{
    background: var(--blue_h);
}

/*===== BLOG =====*/
.main_blog {
    margin: 40px auto;
}
.main_blog > header{
    color: var(--blue);
    text-align: center;
    margin-bottom: 30px;
}

.main_blog > header > h2,
.main_blog > header > p{
    font-size: 2.0em;
}

.main_blog > header > p {
    margin-top: 20px;
}

.main_blog .main_blog_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.main_blog .main_blog_content article{
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
}

.main_blog .main_blog_content article > header > h4 {
    margin: 20px 0px;
    font-size: 1.5em;
}

.main_blog .main_blog_content article > header > h4 > a,
.main_blog .main_blog_content article > p > a{
    color: var(--blue);
    font-weight: 700;
}

.main_blog .main_blog_content article > p {
    font-size: 0.875em;
}

.main_blog .main_blog_content article > p > a:hover{
    text-decoration: underline;
}

.main_blog .main_blog_content article > header > a > img{
    opacity: 0.9;
}

.main_blog .main_blog_content article > header > a > img:hover{
    opacity: 1.0;
}


.main_blog .main_blog_content article > header > h4 > a:hover{
    color: var(--blue_h);
    text-decoration: underline;
}

/*===== PAGINATOR =====*/
.paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.paginator .paginator_item {
    background: #fff;
    padding: 15px;
    color: #000;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
}

.paginator a:last-child{
    border-right: 1px solid #cccccc;
}

.paginator .paginator_item:hover{
    background: var(--blue);
    color: #fff;
}

.paginator .paginator_active{
    background: #ccc;
}

.paginator a:first-child{
    border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;

}

.paginator a:last-child{
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
}

/*===== FOOTER =====*/
.footer_content {
    max-width: 1300px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_content > header { flex-basis: 100%; }

.footer_content > header > h2 {
    font-size: 1.6em;
    margin-bottom: 40px;
    font-weight: 700;
    color: var(--blue);
}

.footer_content > article > header > h3 {
    color: var(--blue);
    margin-bottom: 20px; 
}

.footer_content_menu, .footer_content_links { 
    flex-basis: 25%;
}

.footer_content_menu header h3,
.footer_content_links header h3,
.footer_content_about header h3{
    font-weight: bold;
}

.footer_content_about { flex-basis: 50%; }

.footer_content_about > p{
    color: var(--blue);
}

.footer_content_menu > ul > li { 
    color: var(--blue);
    margin: 10px 0; 
}

.footer_content_menu > ul > li > a{
    color: var(--blue);
}

.footer_content_links > ul > li { margin: 10px 0; }

.footer_content_links > ul > li > a{
    color: var(--blue);
}

.footer_content_links > ul > li > a:hover,
.footer_content_menu > ul > li > a:hover{
    text-decoration: underline;
}

.footer_rigths { 
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    color: var(--blue);
    font-weight: 300;
}

.modal {
    display: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

/*======= error ======= */
.error_page_404 {
    text-align: center;
    color: var(--blue);
    margin: 40px 0px 250px 0px;
}

.error_page_404 .error{
    font-size: 8em;
}

.error_page_404 .error,
.error_page_404 p {
    margin-bottom: 40px;
}

.error_page_404 p:last-of-type{
    font-size: 1.4em;
}

.error_page_404 h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.error_page_404 a {
    padding: 20px 50px;
    background: var(--blue);
    color: #fff;
    margin-top: 40px;
    font-size: 1.3em;
}

.error_page_404 a:hover{
    background: var(--blue_h);
}

/*======= login ===== */
.main_login{
    text-align: center;
    margin: 20px auto;
}

.main_login header{
    font-size: 2.8em;
    margin: 30px auto;
}

.main_login header h2{
    font-weight: normal;
}

.main_login p {
    font-size: 2em;
}

.main_login_form_content {
    margin: 0px auto 160px auto;
    max-width: 100% !important;
    width: 500px;
    text-align: left;
    color: #000;
}

.main_login_form_content form{
    display: flex;
    flex-wrap: wrap;
    max-width: 100% !important;
}

.main_login_form_content form .main_login_campus{
    margin: 10px auto 20px auto;
    flex-basis: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.main_login_form_content form .main_login_campus label{
    margin: 10px auto 5px auto;
    font-size: 0.875em;
    font-weight: 400;
    flex-basis: 100%;
    text-align: left;
}


.main_login_form_content form .main_login_campus input{
    flex-basis: 100%;
    padding: 15px 30px;
    margin: 5px auto 0px auto;
    border-radius: 8px;
    -moz-border-radiu:8px;
    -webkit-border-radius:8px;
    border: 1px solid #ccc;
    text-align:left !important;
    overflow: hidden;
}

.main_login_form_content form button{
    flex-basis: 100%;
    padding: 15px 30px;
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 8px;
    -moz-border-radiu:8px;
    -webkit-border-radius:8px;
}

/*======== OPTIN SUCCESS =========*/
.main_optin_message{
    color: var(--blue);
    text-align: center;
    margin: 40px auto;
}

.main_optin_message header{
    margin: 30px auto;
}

.main_optin_message header h2 {
    font-size: 3em;
}

.main_optin_message p {
    font-size: 1.4em;
}

/*======= POLITCS, TERMS, WARNING =======*/
.terms_page {
    margin: 50px auto; 
}

.terms_page .terms_page_header{
    text-align: center;
    color: var(--blue);
    font-size: 2em;
    margin: 30px auto;
}

.terms_page_content {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

.htmlchars {
    color: var(--color-default);
}

.htmlchars :first-child {
    margin-top: 0;
}

.htmlchars h2,
.htmlchars h3,
.htmlchars h4,
.htmlchars h5 {
    margin: 40px 0 20px 0;
    font-weight: var(--weight-bold);
}

.htmlchars h2 {
    font-size: 1.8em;
}

.htmlchars h3 {
    font-size: 1.6em;
}

.htmlchars h4 {
    font-size: 1.4em;
}

.htmlchars h5 {
    font-size: 1.2em;
}

.htmlchars p {
    margin-top: 25px;
}

.htmlchars ul,
.htmlchars ol {
    margin: 20px 0 20px 40px;
}

.htmlchars ul {
    list-style: circle;
}

.htmlchars ol li,
.htmlchars ul li {
    margin-top: 5px;
}

.htmlchars a {
    color: var(--blue);
    font-weight: var(--weight-bold);
    text-decoration: none;
}

.htmlchars a:hover {
    text-decoration: underline;
}

/*===== MEDIA ======= */
@media(max-width:52em){
    .header_main_content_menu{
        display: none !important;
    }

    .header_main_content_menu_mobile{
        display: block !important;
    }

    .main_content_products{
        flex-basis: 100%;
    }

    .main_content header h2{
        margin-top: 20px;
    }

    .main_optin_content header{
        margin-bottom: 40px;
    }

    .main_optin_content header h2,
    .main_optin_content header p{
        text-align: center;
    }

    .main_optin_content form input{
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        padding: 10px 10px !important;
    }
}

@media (max-width: 32em) {
    .main_content header h2,
    .main_content_school header h2,
    .main_content_school_awards header h4,
    .main_content_school_address header h4{
        font-size: 1.8em;
    }   

    .main_content_products header a h4,
    .main_content_products header a p,
    .main_content_school_about .main_content_school_header{
        font-size: 1.1em;
    }

    .main_content_products a p{
        font-size: 1em;
    }

    .main_content_products .img_star{
        display: none;
    }

    .main_optin_content header{
        padding: 0;
        margin: 0 auto;
    }

    .main_optin_content header h2,
    .main_content_school_description p{
        font-size: 1em;
    }

    .main_optin_content form input{
        flex-basis: 100%;
        margin: 10px 0;
    }

    .footer_content_about,
    .box_awards article{
        flex-basis: 100%;
        margin-top: 20px;
    }

    .main_content_school_about article,
    .main_content_school_tutor_network .tutor_social_network{
        flex-basis: 100%;
        margin-top: 20px;
    }

    .footer_content_links,
    .footer_content_menu{
        flex-basis: 50%;
    }

    .main_blog .main_blog_content article {
        flex-basis: calc(100% - 40px);
    }

    .main_blog > header > p {
        font-size: 1.4em;
    }
}

@media(max-width: 76em){
    .main_optin_content form input{
        margin: 10px !important;
    }
}

@media(max-width: 69em){
    .main_optin_content{
        display: flex;
        flex-wrap: wrap;
    }

    .main_optin_content header,
    .main_optin_content form{
        flex-basis: 100% !important;
        margin: 0 auto;
    }

    .main_optin_content form{
        display: flex;
        flex-wrap: wrap;
    }
}